{% extends "base.html" %}

{% block content %}
<h2>Tell me your best dating story...the good...the bad...and the hilarious...</h2>

<form method="post">

    <label>
        <div>What would you call it??</div>
        <input type="text" name="title" value = "{{title}}">
    
    </label>
    <label>
        <div>Details...lots and lots of details....</div>
        <textarea name ="story" value ="{{story}}"></textarea>
    </label>

    <div class = "error" >{{error}}</div>

    <input type="submit">
    </form>
    <hr>
    
    {%for story in storys%}

    <div class ="story">
        <a href="/blog/{{story.key().id()}}"> content </a>
        <div class="story-title">{{story.title}}</div>
        <pre class="story-body">{{story.story}}</pre>
        </div>
    {%endfor%}
{% endblock %}
